<div class="h-100 py-4">
<div class="container mt-10">
  <div class="wrap container w-dvw flex justify-center mb-4">
    <div class="block text-sm font-medium leading-6 text-gray-900 ">
      <!-- <label>Search github username below</label> -->
      <input
        id="textbox"
        class="h-12 px-2 rounded-md"
        type="text"
        placeholder="Enter user_name"
        (change)="onChangeInput($event)"
      />
      <button
        type="button"
        (click)="searchUser()"
        class="bg-sky-600 text-white p-1 px-2 mx-2 rounded-md"
      >
        Search
      </button>
  
      <select formControlName="website" class="form-control w-40"  (change)="setPageSize($event)">
        <option disabled>Select Page Size</option>
        <option value="ignore">Select Page Size</option>

        <option *ngFor="let size of dropDownData">{{ size }}</option>
      </select>
    </div>
  </div>
  <hr class="my-8 bg-black border-2 dark:bg-black" />

  <div class="grid grid-cols-3 gap-4" *ngIf="userDetails?.id">
    <div class="pl-20 col-span-1" >
      <img
        src="{{ userDetails.avatar_url }}"
        alt="Cheetah!"
        class="rounded-full mb-8 "
        width="150"
        height="150"
      />
      <a class="my-8 mb-3 text-blue-500 dark:text-blue-400" href="{{ userDetails.html_url }}">
        {{userDetails.html_url}}</a>
    </div>
    <div class="mx-2">
      <div class="text-2xl font-semibold text-blue-900 dark:text-blue">{{ userDetails.name }}</div><br>
      <div p class="mb-3 text-black-500 dark:text-black-400">{{ userDetails.bio }}</div><br>
      <div p class="text-1xl mb-3 text-gray-500 dark:text-gray-400">{{ userDetails.location }}</div>
      <div p class="mb-3 text-gray-500 dark:text-gray-400">Twitter: {{ userDetails.twitter_username }}</div>
    </div>
  </div>

  <hr class="my-8 bg-black border-2 dark:bg-black" *ngIf="userDetails?.id" />

<div *ngIf="isLoading" class="grid grid grid-cols-2 gap-5 h-screen mx-16">
<div *ngFor="let loader of skeletonLoaders" class="card-container animate-pulse bg-slate-200 shadow rounded-md">
</div>
</div>

<div *ngIf="showError" class="flex justify-center">
<div class="rounded-md h-20 text-2xl font-semibold text-red-900 dark:text-red">Data not found </div>
  </div>

<div class="grid h-full mx-16">
  <div class="grid grid-cols-2 gap-10" *ngIf="!isLoading && userDetails?.id">
    <div
      class="flex-1 card-container relative border-2 border border-blue-300 shadow rounded-md"
      *ngFor="
        let repo of repoData
          | paginate
            : {
                id: 'page_assignment',
                itemsPerPage: itemsPerPage,
                currentPage: p,
                totalItems: totalItems
              }
      "
    >
      <h1 class="text-2xl text-cyan-700 font-bold mb-4">{{ repo.name }}</h1>
      <h5 class="text-xl mb-4">{{ repo.description }}</h5>
     <div class="mt-2">
      <span  class="inline-grid m-1" *ngFor="let lang of languages(repo.id)">
        <span class="text-white p-1 bg-sky-600">{{ lang }}</span>
      </span>
    </div>
    </div>
  </div>
  <div *ngIf="repoData?.length" class=" flex my-4 justify-center">
    <pagination-controls
    id="page_assignment"
    (pageChange)="handlePageChange($event)"
  >
  </pagination-controls>
</div>

  </div>


  
</div>
</div>